@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #313244;
    color: #cdd6f4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.container {
    background-color: #11111b;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 10px 10px 90px rgba(17, 17, 27, 0.9);
}

#date {
    padding: 20px;
    width: 300px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #1e1e2e;
    color: #cdd6f4;
}

button {
    padding: 15px;
    background-color: #cba6f7;
    color: #11111b;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-left: 15px;
}

.outputDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: yellow; */
}

.a {
    background-color: #1e1e2e;
    color: #cdd6f4;
    padding: 10px;
    width: 100px;
    height: 70px;
    text-align: center;
    margin-top: 25px;
    border-radius: 10px;
}

#days {
    font-size: larger;
}