@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: red;
    padding: 100px;
}

#date {
    padding: 20px;
    width: 300px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
}

button {
    padding: 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.outputDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: yellow; */
}

.a {
    background-color: black;
    color: white;
    padding: 10px;
    width: 100px;
    height: 70px;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
}

#days {
    font-size: larger;
}